*{
    box-sizing: border-box;
    margin:0;
}

div#container{
    display:grid;
    grid-template-areas:
    "top top"
    "left right"
    "bottom bottom";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
}

header{
    grid-area: top;
    background-color: green;
    color: #f9f9f9;
    padding: 20px;
}

main{
    grid-area:right;
    padding: 20px;
}

nav{
    grid-area:left;
    background-color:#f4f4f4;
    color:#f9f9f9;
    padding:20px;
}

nav ul{
    list-style: none;
    margin:0;
    padding:0;
}

nav a{
    text-decoration:none;
    color: #333333;
}

footer{
    grid-area:bottom;
    background-color: green;
    color:#f9f9f9;
    padding:20px;
    text-align: center;
}

@media screen and (max-width:600px){
    div#container{
        grid-template-areas:
        "top"
        "left"
        "right"
        "bottom";
        /*display:block*/
        grid-template-columns: 1fr;
        gap:0;
    }
}